.ruby-version
log/*.log
tmp/*
hold/*
jsdoc/*
edi/doc/*
edi/logs/*
config/database.yml
db/schema.rb
nbproject/*
.loadpath
.project
.redcar
*.svn
*.zip
*.rar
vendor/rails/*
public/downloads/*
.idea/*
r2check.rb
jmt_reporting_server/*.sh
jmt_reporting_server/*.bat
jmt_reporting_server/lib/*.*
jasper_xml/*
