
<%= start_form_tag({:action=> "update_edited_order_products"}) %>

<% grid            = build_order_product_grid(@order_products,@can_edit,@can_delete,@multi_select) %>
<% grid.caption    =  @caption %>
<% @header_content = grid.build_grid_data %>
<% grid.height = '120' %>

<% @pagination = pagination_links(@order_product_pages) if @order_product_pages != nil %>
<%= grid.render_html %>
<%= grid.render_grid %>
<%if !@view_order %>
  <%= submit_tag "update" %>
<%end %>
<%= end_form_tag %>