/*
mobile_web + PC pdt css styling for
1. menu select
2. content_header
*/

.mobile_web_pdt_menu select{
    width: 920px;
    font-size: 40px;
}
.mobile_web_pdt_menu img{
    width: 32px;
}
.pc_web_pdt_menu select{
    width: 300px;
}

.mobile_web_pdt_content_container td{
    /*font-size: 35px;*/
}
.pc_web_pdt_content_container td{
    /*border: 1px solid red;*/
}

.mobile_web_pdt_content_header {
    width: 920px;
    height: 30px;
    color: green;
    background: #E6E6E6;
    border: 1px solid #D8D8D8;
    text-align: center;
    padding-top: 15px;
    font-size: 35px;
}
.pc_web_pdt_content_header{
    width: 300px;
    color: green;
    background: #E6E6E6;
    border: 1px solid #D8D8D8;
    text-align: center;
    height: 20px;
}

.mobile_web_pdt_content {
    height: 850px;
    width: 920px;
    overflow: scroll;
    /*border: 1px solid red;*/
}
.pc_web_pdt_content{
    height: 300px;
    width: 300px;
    overflow: scroll;
    /*border: 1px solid red;*/
}

.mobile_web_pdt_messages {
    height: 150px;
    font-size: 40px;
}
.pc_web_pdt_messages{
    height: 100px;
}

.mobile_web_pdt_button_css_class {
    width: 302px;
    height: 60px;
    font-size: 40px;
}
.pc_pdt_button_css_class{
    width: 98px;
}

.mobile_web_pdt_field_css_class input{
    width: 708px;
    font-size: 40px;
    border: 2px solid #D8D8D8;
}
.pc_pdt_field_css_class input{
    width: 200px;
}

.mobile_web_pdt_field_css_class label{
    width: 220px;
    font-size: 40px;
}
.pc_pdt_field_css_class label{
    width: 80px;
}

.mobile_web_pdt_text_line_css_class {
}
.pc_pdt_text_line_css_class {
}

.mobile_web_pdt_static_text_css_class input{
    border: none;
    width: 600px;
    font-size: 35px;
    background: whitesmoke;
}
.pc_pdt_static_text_css_class input{
    border: none;
    background: whitesmoke;
    width: 184px;
}

.mobile_web_pdt_text_box_css_class input{
    width: 600px;
    font-size: 35px;
}
.pc_pdt_text_box_css_class input{
    width: 180px;
}

.mobile_web_pdt_drop_down_css_class{
    width: 450px;
    font-size: 30px;
}
.mobile_web_pdt_drop_down_css_class select{
    width: 450px;
    font-size: 30px;
}
.pc_pdt_drop_down_css_class select{
    width: 100px;
}

.mobile_web_pdt_date_field_css_class input{
    width: 450px;
    font-size: 30px;
}
.mobile_web_pdt_date_field_css_class img{
    width: 40px;
}
.pc_pdt_date_field_css_class input{
    width: 150px;
}

.pc_pdt_form_css_class td{
}
.mobile_web_pdt_form_css_class td{
    padding-top: 10px;
    font-size: 30px;
}

.mobile_web_pdt_check_box_css_class input{
    height: 40px;
    width: 40px;
}
.pc_pdt_check_box_css_class input{
}

.mobile_web_text_area_css_class textarea{
    height: 100px;
    width: 480px;
    font-size: 30px;
}
.mobile_web_text_area_css_class{
    height: 100px;
    width: 480px;
    font-size: 30px;
}
.pc_pdt_text_area_css_class textarea{
    height: 40px;
}

.mobile_web_busy_sinner_css_class{
    position:absolute;
    width: 980px;
    height: 1400px;
    background: whitesmoke;
    opacity: 0.8;
    border: 1px solid #d3d3d3;

}
.pc_pdt_busy_sinner_css_class{
    position:absolute;
    width: 310px;
    height: 580px;
    background: whitesmoke;
    opacity: 0.8;
    border: 1px solid #d3d3d3;
}

.mobile_web_busy_sinner_css_class td{
    width: 266px;
}
.pc_pdt_busy_sinner_css_class td{
    width: 83px;
}

