<html>
  <head>
    <script type="text/javascript">
          var hook = true;
          window.onbeforeunload = function() {
            if (hook) {
              return "Do you want to update any information? Else the updated inforamtion will be lost.BUT IF YOU ARE REMOVING PALLETS FROM LOAD CLICK 'leave this page' to submit your selection"
            }
          }
    </script>
  </head>
  <body>
        <%= start_form_tag({:action=> "update_edited_load_pallets"}) %>

        <% grid            = build_pallets_grid(@pallets ,@can_edit,@can_delete,@multi_select) %>
        <% grid.caption    = 'pallets:  USE THE CHECKBOXES TO REMOVE PALLETS' %>
        <% @header_content = grid.build_grid_data %>

        <% @pagination = pagination_links(@load_detail_pages) if @load_detail_pages != nil %>
        <%= grid.render_html %>
        <%= grid.render_grid %>

        <%= submit_tag "update" %>
        <%= end_form_tag %>
  </body>
</html>