  <table id="pool_graded_rebins_rows">
    <tr>
      <th>Bin<br /> count</th>
      <th>Class</th>
      <th>Adjusted<br /> Class</th>
      <th>Size</th>
      <th>Adjusted<br /> Size</th>
      <th>Weight</th>
      <th>Adjusted<br /> Weight</th>
    </tr>
    <%= render :partial => 'view_rebin', :collection => @pool_graded_rebins %>
  </table>

