
<% @tree_node_content_header = "Allow a user to access a program" -%>

<% @hide_content_pane = false %>
<% @is_menu_loaded_view = true %>

<%= build_add_program_form("add_program_submit","save") %>

