<% @tree_node_content_header = "Change security group(program: is: " + @prog_name + ", user is: " + @user_name + ")" %>
<% @hide_content_pane = false %>
<% @is_menu_loaded_view = true %>
<%= build_sec_group_form('change_sec_group_submit','save') %>