<% @page_title = "Edit User" -%>
<% @tree_node_content_header = "'Edit user'" -%>

<% @hide_content_pane = false %>
<% @is_menu_loaded_view = true %>

<%= build_user_form("edit_user","save",true) %>

