<!--
 ! Excerpted from "Agile Web Development with Rails"
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com for more book information.
-->
<% @page_title = "User List" -%>
 <% grid = get_users_grid(@users) %>
 <% grid.caption    = 'list of all users' %>
 <% @header_content = grid.build_grid_data %>

 <%= grid.render_html %>
 <%= grid.render_grid %>
 
