
<% @tree_node_content_header = "Allow a user to change multiple program permissions settings" -%>

<% @hide_content_pane = false %>
<% @is_menu_loaded_view = true %>

<%= build_quick_permissions_setting_form("","") %>

