

       <% @new_session = true %>
      <iframe  name = "contentFrame" id = "contentFrame" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen
       		style = "width:100%;height:95%;"  frameborder="0" Scrolling = "Auto">
       </iframe>

