<html>
   <body>

       <pre>
       <table>
         <tr><td  align=center ><b><%=@file1%></b></td></tr>
         <tr>
           <td>
              <% for file in @ary %>
                  <%= h(file) %><br>
              <% end %>
           </td>
         </tr>
       </table>



      </pre>
  </body>

</html>