 
 <iframe  name = "pdtContentFrame" id = "pdtContentFrame" style='width: 348px;height: 350px;' src ="/tools/pdt_simulator/render_screen"  topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" frameborder="0" Scrolling = "Auto">      
 
 </frame> 